@import 'bulma/sass/utilities/mixins'

#Home
    .reverse-columns
        @include mobile
            flex-direction: column-reverse
            display: flex

    .titled
        font-size: 58px !important
        font-weight: 400 !important
        line-height: 64px !important
    
    .subtitled
        font-size: 22px !important
        font-weight: 400 !important
        line-height: !important